html {
    background-color: white;
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    background-color: rgb(0, 179, 80);
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1:hover {
    background-color: #800080;
}

h3 {
    font-style: oblique;
    color: dimgray;
}

a {
    color: #008000;
    text-decoration: none;
}

a:visited {
    color: #800080;
}

a:hover {
    color: #800000;
    text-decoration: underline;
}

.photo {
    display: block;
    margin: auto;
    opacity: 0.5;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 20px 20px 50px #7b7a7a;
}

.first:hover {
    transform: scale(2);
    opacity: 1;
}

.second:hover {
    transform: scale(3);
    opacity: 1;
}
